.button-container {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
  }
  
  .custom-button {
    margin: 8px; /* Ajusta el valor para separar los botones */
  }